[Desktop Entry]
Type=Application
Name=Shortcut Editor
Exec=desktop-file-editor %f
Terminal=false
Categories=Utility;GTK;
MimeType=application/x-desktop;
Comment=Create new or change existing desktop entry
Icon=applications-other
NoDisplay=false
