[Desktop Entry]
Name=Desktop Settings
GenericName=Configuration Tool
Icon=/usr/share/icons/jsm/desktop.svg
Exec=jwm-settings-manager --desktop
Terminal=false
Type=Application
Categories=Settings;System;
NotShowIn=GNOME;KDE;LXDE;MATE;Razor;TDE;Unity;XFCE;EDE;Cinnamon;
Name[en_US]=jwm-settings-manager-desktop
