[Desktop Entry]
Name=Startup Program Settings
GenericName=Configuration Tool
GenericName[fr]=Outil de configuration
GenericName[lv]=Konfigurācijas rīks
Icon=/usr/share/icons/jsm-autostart.svg
Exec=jwm-settings-manager --autostart
Terminal=false
Type=Application
Categories=Settings;System;
NotShowIn=GNOME;KDE;LXDE;MATE;Razor;TDE;Unity;XFCE;EDE;Cinnamon;
Name[en_US]=Startup Program Settings
