[Desktop Entry]
Name=Window Settings
GenericName=Configuration Tool
GenericName[fr]=Outil de configuration
GenericName[lv]=Konfigurācijas rīks
Icon=jsm-windows
Exec=jwm-settings-manager --window
Terminal=false
Type=Application
Categories=Settings;System;
NotShowIn=GNOME;KDE;LXDE;MATE;Razor;TDE;Unity;XFCE;EDE;Cinnamon;
Name[en_US]=Window Settings
