[Desktop Entry]
Name=Font Settings
GenericName=Configuration Tool
GenericName[fr]=Outil de configuration
GenericName[lv]=Konfigurācijas rīks
Icon=jsm-fonts
Exec=jwm-settings-manager --font
Terminal=false
Type=Application
Categories=Settings;System;
NotShowIn=GNOME;KDE;LXDE;MATE;Razor;TDE;Unity;XFCE;EDE;Cinnamon;
Name[en_US]=Font Settings
